# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Test cache
.pytest_cache/

# Virtual environments
venv/
env/

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Driver binaries
drivers/chromedriver.exe

# Logs
*.log
